* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  position: relative;
}

html {
  font-size: 14px;
}

body {
  font: 300 1rem/1.2 BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

.apink {
  color: #ef2d5e;
}

.bg-apink {
  background-color: #ef2d5e;
}

.code,
.tt,
code,
tt {
  font-family: Consolas, Courier New, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.wordmark {
  position: absolute;
}

.text-hidden {
  text-indent: -200%;
}

/* Source: adapted from https://codepen.io/joroji/pen/bZJbEp */

/*[data-supports-touch="true"] .card-container {
  height: 100%;
  overflow-y: hidden;
}

.card-container {
  background: #eee;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px lightgray;
  counter-increment: card;
  display: none;
  float: left;
  height: 400px;
  list-style: none;
  margin: 10px;
  padding: 20px;
  position: absolute;
  transform: scale(.8);
  width: 60%;
  z-index: 1;
}

.card.animate-prev {
  transform: translateX(-150%) !important;
}

.card.animate-next {
  transform: translateX(170%) !important;
}

.card.active,
.card.prev,
.card.next,
.card.animate-prev,
.card.animate-next {
  display: block;
  transition: transform 1.5s ease;
}

.card.active {
  z-index: 2;
  transform: scale(1) translateX(12%);
}

.card.prev {
 transform: scale(.8) translateX(-110%);
}

.card.next {
 transform: scale(.8) translateX(140%);
}*/

/* cell number */
/*.card:before {
  color: #111;
  display: block;
  font-size: 80px;
  line-height: 200px;
  text-align: center;
}*/

.scene-img {
  background-color: #eee;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.scene-radio:not(:checked) ~ * {
  opacity: .3;
}

.scene-radio:checked + .scene-link .scene-link-inner {
  box-shadow: inset 0 0 .5px rgba(0,0,0,.15), 0 0 0 4px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.05);
}

.visually-hidden {
  /*left: -100%;
  position: absolute;
  position: relative;
  opacity: .5;*/
  /*visibility: hidden;*/
}
