* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  position: relative;
}

html {
  font-size: 14px;
}

body {
  font: 300 1rem/1.2 BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

.apink {
  color: #ef2d5e;
}

.bg-apink {
  background-color: #ef2d5e;
}

.code,
.tt,
code,
tt {
  font-family: Consolas, Courier New, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.wordmark {
  position: absolute;
}

.text-hidden {
  text-indent: -200%;
}

.scene-img {
  background-color: #eee;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.scene-radio {
  left: .5rem;
  opacity: .3;
  position: relative;
  top: .5rem;
}

.scene-radio:not(:checked) ~ *,
.scene-link ~ * {
  opacity: .3;
}

.scene-link:hover,
.scene-link:hover ~ * {
  opacity: 1;
}

.scene-radio:checked + .scene-link .scene-link-inner,
.scene-link:hover .scene-link-inner {
  box-shadow: inset 0 0 .5px rgba(0,0,0,.15), 0 0 0 4px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.05);
}

.visually-hidden {
  /*
  left: -100%;
  opacity: .5;
  position: absolute;
  position: relative;
  visibility: hidden;
  */
}

input:checked ~ a .glow,
input:checked ~ a .glow:focus,
input:checked ~ a .glow:hover {
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

input:checked ~ a .glow:focus,
input:checked ~ a .glow:hover {
  opacity: 1;
}

.hide-child .child {
  opacity: 1;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

.hide-child:active .child,
.hide-child:focus .child,
.hide-child:hover .child {
  opacity: 0;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

.hide-sibling ~ .sibling {
  opacity: 1;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

.hide-sibling:active ~ .sibling,
.hide-sibling:focus ~ .sibling,
.hide-sibling:hover ~ .sibling {
  opacity: 0;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
}

/*
[data-slug="cadavr"] .scene-link [data-background-image] {
  background-image: url(../img/scenes/cadavr/screenshot_1.png);
}

[data-slug="cadavr"] .scene-radio:checked ~ .scene-link:hover [data-hover-background-image],
[data-slug="cadavr"] .scene-link:hover [data-hover-background-image] {
  background-image: url(../img/scenes/cadavr/vgL0p8.gif);
}
*/
